/* page.css */

/* Existing styles for full-screen sections */
.full-screen-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Fix this to a valid color value, e.g., 'transparent' */
}

/* Adjust the parallax effect to start without initial transformations */
.parallax {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1; /* Initial opacity */
}

/* Remove the hover effect on parallax */
.parallax:hover {
  transform: none;
  opacity: 1;
}

/* Additional styles for mobile devices */
@media (max-width: 768px) {
  .full-screen-section {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
  }
}

/* Other existing styles... */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}
