@keyframes moveRandomly {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(calc(100vw - 120px), calc(100vh - 120px));
  }
  30% {
    transform: translate(calc(-100vw + 50px), calc(50vh - 60px));
  }
  45% {
    transform: translate(calc(50vw - 80px), calc(-100vh + 120px));
  }
  60% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(calc(30vw - 40px), calc(60vh - 80px));
  }
  90% {
    transform: translate(calc(-70vw + 90px), calc(-20vh + 30px));
  }
}

.blueDot {
  background: radial-gradient(ellipse at center, #00FFFF, transparent);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  filter: blur(8px);
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  animation: moveRandomly 15s infinite; /* Adjust the duration and timing function as needed */
}

.smaller {
  width: 60px; /* Adjust the size of the smaller dots */
  height: 60px;
  filter: blur(4px); /* Adjust the blur effect for smaller dots */
}
