@keyframes customGlow {
  0%, 100% {
    color: aqua;
    text-shadow: 0 0 12px aquamarine, 0 0 50px aquamarine, 0 0 100px aquamarine;
  }
  10%, 90% {
    color: transparent;
    text-shadow: none;
  }
}

.custom-type-animation {
  font-size: 3em;
  display: inline-block;
  font-weight: bold;
  color: wtrite;
}

/* Apply glow animation only to the cursor */
.cursor {
  animation: customGlow 3s ease-in-out infinite;
  display: inline-block;
  color: #000;
}
